body {
  background-color: #fff;
}

body #root {
  color: #000;
}

canvas {
  border: 1px solid #ababab;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  margin: 4px;
}

.App {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.drawing canvas {
  border: 1px solid #ababab;
}

.kernelLabel {
  font-size: 32px;
  color: #222;
}

.editable canvas {
  cursor: pointer;
}

.channelsContainer canvas, .remainingCanvases canvas {
  display: block;
}

.examples canvas {
  margin: 0 1.2px;
}

.neuronLink {
  cursor: pointer;
  margin: 5px;
}

.neuronLink.selected {
  border: 1px solid rgba(255, 0, 0, 150);
}

.editNeuronContainer {
  padding-bottom: 10px;
  border-bottom: 1px solid #ababab;
}

.networkContainer {
  padding-top: 20px;
}

.neuronRow > div {
  display: inline-block;
  margin-bottom: -4px;
  margin-left: -1px;
}
.neuronRow canvas {
  margin: 0;
  display: block;
}

.neuronBlock {
  margin: 3px 2px 3px 3px;
}

.acts canvas {
  display: block;
}
